* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
li a:hover{
    background-color: lightslategrey;
    border-radius: 21px;
    transition: 1s;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.menu-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    width: calc(33.33% - 1rem);
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.menu-item h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.menu-item p {
    font-size: 0.9rem;
    color: #777;
}

.menu-item span {
    font-weight: bold;
    color: #333;
}
.about {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
}
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #8e412c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #7d2039;
    border-radius: 15px;
    transition: 1s;
}

.cart-icon {
    margin-right: 8px;
}
@media screen and (max-width: 768px) {
    .menu-item {
        width: 100%;
    }
}